<!DOCTYPE html>
<html lang="en">
<head></head>
<body>

    <nav th:fragment="view-orthopantomograms-nav" class="navbar navbar-expand bg-body-tertiary mb-2">

        <div class="container-fluid" >
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
            <!-- me-auto -->
            <ul class="navbar-nav mb-2 mx-auto mb-lg-0">


                <li class="nav-item ">
                    <a onclick="window.history.back()" th:text="#{btnBack}" class="btn btn-primary me-2">
                        Back
                    </a>
                    
                </li>


                <li class="nav-item">
                    <h3 class="nav-item me-2"
                        th:text="#{navTitleViewOrthopantomogram}"></h3>
                </li>

                <!--  <################# USE THIS FOR SHOW/HIDE OTHOPANTOMOGRAMS BUTTON -->
                <!-- <li class="nav-item ">
                    <div th:insert="~{employee/customers/fragments/put-automatic-emails-modal
                                    :: put-automatic-emails-modal( ${joinCustomer.customerDTO}, 'link') }">
                        Edit
                    </div>   
                </li> -->

                <!-- <form class="d-flex" role="search">

                    <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                    <a th:href="@{/employee/customer/customer}" class="btn btn-outline-danger me-2" >X</a>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>  -->
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{#}"> Link </a>
                </li> -->
               

            </ul>
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> 
            </div> -->

        </div>


    </nav>
    
</body>
</html>