<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div th:fragment="put-automatic-emails-modal(customer, btnType)">
        <div class="modal fade" th:id="'putAutomaticEmailsModalToggle' + ${customer.id}" 
                th:aria-labelledby="'putAutomaticEmailsModalToggleLabel' + ${customer.id}" tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" 
                      th:id="'putAutomaticEmailsModalToggleLabel' + ${customer.id}"
                      th:text="#{titleEditAutomaticEmails}">
                      Edit Automatic Emails
                  </h1>
                  <button th:id="'btnXCloseModal' + ${customer.id}" type="button" 
                          class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body">

                  <div th:replace="~{fragments/messages/error-msg :: error-msg( 'putAutomaticEmailsForm' + ${customer.id},'')}"></div>

                  <!-- get data for create the Customer -->
                  <form th:id="'putAutomaticEmailsForm' + ${customer.id}" method="PUT" th:action="@{/putCustomer}" > 


                    <!-- For sent the idCustomer in the put request -->
                    <div><input type="hidden" name="id" th:value="${customer.id}"></div>

                    <!-- Recall email -->
                    <div class="row g-3 mt-3">

                      <div class="col-12 col-md-4 d-flex align-items-center">  

                        <label  th:for="'daysToNextRecallEmail' + ${customer?.id}" class="form-label me-2 col-md-auto" 
                                th:text="#{labelAutomaticEmailRecallEmailNoColon} + ' ' + #{labelAutomaticEmailEveryMandatory}">
                        Recall email every:
                        </label> 
                        <select class="form-select" name="daysToNextRecallEmail" th:id="'daysToNextRecallEmail' + ${customer?.id}" >

                          <!-- <option selected value=""></option> -->
                          <option th:each="interval : ${automaticEmailIntervals}"
                                  th:selected="${interval == customer?.daysToNextRecallEmail}" 
                                  th:value="${interval}"
                                  th:text="#{ 'formOptionSelectAutomaticEmail' + ${interval} }">
                          </option>
                        
                        </select>
                      </div>
                      
                      <div class="col-12 col-md-4 d-flex align-items-center mt-3"> 
                        
                        <label th:for="'recallEmailDate' + ${customer?.id}" class="form-label me-2 col-md-4" th:text="#{labelAutomaticEmailNextDate}">
                        Next recall email date: 
                        </label> 
                        <input  type="text" class="form-control w-100" th:id="'recallEmailDate' + ${customer?.id}" name="recallEmailDate" 
                                th:placeholder="#{formPlaceholderDate}"
                                th:with="formatDate=#{formPlaceholderDate}"
                                th:value="${ #temporals.format( customer?.nextRecallEmailDate, formatDate )}"> 
                      </div> 

                      <div class="col-12 col-md-4 d-flex align-items-center mt-3"> 
                        
                        <label  th:for="'recallEmailDateToUpdate' + ${customer?.id}" class="form-label me-2 col-md-4" 
                                th:text="#{labelAutomaticEmailStartFrom}">
                        Next date:
                        </label> 
                        <input  type="text" class="form-control w-100" th:id="'recallEmailDateToUpdate' + ${customer?.id}" 
                                name="recallEmailDateToUpdate" 
                                th:placeholder="#{formPlaceholderDate}">
                      </div> 
                      
                    </div>

                  </form>

                  <!-- INFO message on how use the form -->
                  <div class="mt-5 text-center">
                    <span class="fs-6" th:text="#{msgInfoEditAutomaticEmails}"></span>
                  </div>

                </div>

                <div class="modal-footer">

                  <!-- TO EDIT:  add button add  Medical History -->  
                  <!-- <button th:id="'btnAddProfessionalRoleSlot' + ${customer.id}" 
                          class="btn btn-primary" th:text="#{btnAddProfessionalRoleSlot}">
                    Add Professional Role
                  </button> -->

                  <!-- Button edit Customer -->  
                  <button th:id="'btnPutAutomaticEmails' + ${customer.id}" 
                          type="submit" 
                          th:form="'putAutomaticEmailsForm' + ${customer.id}" 
                          class="btn btn-primary me-2 mt-1" 
                          th:text="#{btnEdit}">
                    Edit Automatic Emails
                  </a>
                
                </div>
              </div>
            </div>
        </div>
        
        <!-- Button for open the Modal -->
        <button th:if="${btnType == 'link'}"
                class="nav-link " 
                th:data-bs-target="'#putAutomaticEmailsModalToggle'+ ${customer.id}" 
                data-bs-toggle="modal"
                th:text="#{btnEdit}">Edit</button>

        <button th:if="${btnType == 'button'}"
                class="btn btn-primary " 
                th:data-bs-target="'#putAutomaticEmailsModalToggle'+ ${customer.id}" 
                data-bs-toggle="modal"
                th:text="#{btnEdit}">Edit</button>

        <!-- Add script for manage add professional role request with js -->
         <!-- This is in requires-put-professional-role-modal.html -->
        <!-- <script th:src="@{/js/customers/put-customer-form.js}"></script>  -->

    </div>

</body>
</html>