<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
 
    <!-- In this file I am not define the header, but the elements right after the head tag -->
    <div th:fragment="common-top-page">
        
        <!-- -------------------- Controllers url ------------------------------ -->
        <!-- Appointment -->
        <a th:href="@{/deleteAppointmentById}" class="d-none" id="urlDeleteAppointment"></a>
        <!-- Professional Role -->
        <a th:href="@{/deleteProfessionalRoleById}" class="d-none" id="urlDeleteProfessionalRole"></a>
        <!-- Treatment -->
        <a th:href="@{/deleteTreatmentById}" class="d-none" id="urlDeleteTreatment"></a>
        <!-- Has Professional Role -->
        <a th:href="@{/postLinkEmployeeToProfessionalRole}" class="d-none" id="urlPostHasProfessionalRole"></a>
        <a th:href="@{/deleteLinkEmployeeWithProfessionalRole}" class="d-none" id="urlDeleteHasProfessionalRole"></a>
        <!-- Employee -->
        <a th:href="@{/deleteEmployeeById}" class="d-none" id="urlDeleteEmployeeById"></a>
        <!-- Work Period -->
        <a th:href="@{/putWorkPeriod}" class="d-none" id="urlPutWorkPeriod"></a>
        <!-- ------------------------------------------------------------------- -->
    
    </div>

</body>
</html>