<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
 
    <!-- In this file I am not define the header, but the elements right after the head tag -->
    <div th:fragment="common-top-page">
        
        <!-- -------------------- Controllers url ------------------------------ -->
        <a th:href="@{/deleteAppointmentById}" class="d-none" id="urlDeleteAppointment"></a>
        <a th:href="@{/deleteProfessionalRoleById}" class="d-none" id="urlDeleteProfessionalRole"></a>
        <a th:href="@{/deleteTreatmentById}" class="d-none" id="urlDeleteTreatment"></a>
        <!-- ------------------------------------------------------------------- -->
    
    </div>

</body>
</html>