<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div th:fragment="put-medical-history-modal(medicalHistory)">
        <div class="modal fade" th:id="'putMedicalHistoryModalToggle' + ${medicalHistory.id}" 
                th:aria-labelledby="'putMedicalHistoryModalToggleLabel' + ${medicalHistory.id}" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" 
                      th:id="'putMedicalHistoryModalToggleLabel' + ${medicalHistory.id}"
                      th:text="#{titleEditMedicalHistory}">
                      Edit MedicalHistory
                  </h1>
                  <button th:id="'btnXCloseModal' + ${medicalHistory.id}" type="button" 
                          class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body">

                  <div th:replace="~{fragments/messages/error-msg :: error-msg(${medicalHistory.id},'')}"></div>

                  <!-- get data for create the Professional Role -->
                  <form th:id="'putMedicalHistoryForm' + ${medicalHistory.id}" method="PUT" th:action="@{/putMedicalHistory}" > 

                    <div th:replace="~{/employee/medical-histories/fragments/common-fields-medical-history-form
                                      :: common-fields-medical-history-form( ${ medicalHistory } )}">
                    </div>

                  </form>

                </div>
                <div class="modal-footer">
                  <!-- Button edit MedicalHistory -->  
                  <button th:id="'btnPutMedicalHistory' + ${medicalHistory.id}" 
                          type="submit" 
                          th:form="'putMedicalHistoryForm' + ${medicalHistory.id}" 
                          class="btn btn-primary" 
                          th:text="#{btnEdit}">
                    Edit Medical History
                  </a>
                
                </div>
              </div>
            </div>
        </div>
        
        <!-- Button for open the Modal -->
        <button class="btn btn-primary" 
                th:data-bs-target="'#putMedicalHistoryModalToggle'+ ${medicalHistory.id}" 
                data-bs-toggle="modal"
                th:text="#{btnEdit}">Edit</button>

        <!-- Add script for manage medical history requests with js -->
         <!-- This is in requires-medical-history.html -->
        <!-- <script th:src="@{/js/medical-histories/put-medical-history-form.js}"></script>  -->

    </div>

</body>
</html>