<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <!-- Put this fragment out of a cycle, where you want to use -->
     <!-- put-medical-history-modal fragment and medical-histories-buttons js --> 
    <!-- Since in the js we use "document.addEventListener('DOMContentLoaded', function(){}"-->
     <!-- you can put this also after the buttons (put and delete) -->
     <!-- if you remove 'DOMContentLoaded' put this before the html component you want to code -->
    <!-- We need this for correctly generate the ids of the component to pass to js script -->
    <div th:fragment="requires-medical-histories">
        
        <!-- -->
        <div th:each="entry : ${ mapByTypeMedicalHistories }">
          <div th:each="medicalHistory : ${ entry.value }">
            <span class="medicalHistoryIds d-none" th:text="${medicalHistory.id}" ></span>
          </div>
        </div> 

        <!-- Add script for manage add  request with js -->
        <script th:src="@{/js/medical-histories/add-medical-history-form.js}"></script> 

        <!-- Add script for manage medical history edit requests with js -->
        <script th:src="@{/js/medical-histories/put-medical-history-form.js}"></script> 

        <!-- Add script for manage delete buttons -->
        <script th:src="@{/js/medical-histories/medical-histories-buttons.js}"></script>

    </div>

</body>
</html>