<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div th:fragment="put-appointment-modal(idCustomer, joinAppointment)">
        <div class="modal fade" th:id="'putAppointmentModalToggle' + ${joinAppointment.appointmentDTO.id}" 
                th:aria-labelledby="'putAppointmentModalToggleLabel' + ${joinAppointment.appointmentDTO.id}" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" 
                      th:id="'putAppointmentModalToggleLabel' + ${joinAppointment.appointmentDTO.id}"
                      th:text="#{titleEditAppointment}">
                      Edit Appointment
                  </h1>
                  <button th:id="'btnXCloseModal' + ${joinAppointment.appointmentDTO.id}" type="button" 
                          class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body">

                  <div th:replace="~{fragments/messages/error-msg :: error-msg(${joinAppointment.appointmentDTO.id},'')}"></div>

                  <!-- get data for create the appointment -->
                  <form th:id="'putAppointmentForm' + ${joinAppointment.appointmentDTO.id}" method="PUT" th:action="@{/putAppointment}" > 

                      <div th:replace="~{fragments/customers/customer-details/appointments/common-fields-appointment-form
                        :: common-fields-appointment-form( ${ idCustomer }, ${joinAppointment} )}"></div>

                  </form>

                </div>
                <div class="modal-footer">
                  <!-- Button edit appointment -->  
                  <button th:id="'btnPutAppointment' + ${joinAppointment.appointmentDTO.id}" 
                          type="submit" 
                          form="put-appointment-form" 
                          class="btn btn-primary" 
                          th:text="#{btnEdit}">
                    Edit Appointment
                  </a>
                
                </div>
              </div>
            </div>
        </div>
        
        <!-- Button for open the Modal -->
        <button class="btn btn-primary" 
                th:data-bs-target="'#putAppointmentModalToggle'+ ${joinAppointment.appointmentDTO.id}" 
                data-bs-toggle="modal"
                th:text="#{btnEdit}">Edit</button>

        <!-- Add script for manage add appointment request with js -->
         <!-- This is in requires-put-appointment-modal.html -->
        <!-- <script th:src="@{/js/appointment/put-appointment-form.js}"></script>  -->

    </div>

</body>
</html>