<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div th:fragment="add-professional-role-modal">
        <div class="modal fade" id="addProfessionalRoleModalToggle" aria-hidden="true"
                aria-labelledby="addAddProfessionalRoleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="addProfessionalRoleModalToggleLabel" th:text="#{titleAddProfessionalRole}">
                    Add Professional Role
                  </h1>
                  <button id="btnXCloseModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- fragment err-msg($id, $msg) , 
                        in this case $id='' cause in err-msg id = 'errMsg' + ${id} 
                        but we have only one modal so we don't need different ids -->
                    <div th:replace="~{fragments/messages/error-msg :: error-msg('','')}"></div>

                    <!-- get data for create the professional role -->
                    <form id="addProfessionalRoleForm" method="POST" th:action="@{/postProfessionalRole}" > 
                        
                      <div th:replace="~{employee/professional-roles/fragments/common-fields-profesional-role-form 
                                        :: common-fields-profesional-role-form( null ) }">
                      </div> 
                    
                    </form>

                </div>
                <div class="modal-footer">
                  <button id="btnAddProfessionalRole" type="submit" form="addProfessionalRoleForm" class="btn btn-primary" th:text="#{btnAdd}">
                    Add Professional Role
                  </a>
                </div>
              </div>
            </div>
        </div>
        <!-- If there are many buttons on the nav use this: 
            th:text="#{btnAddAbbreviation}"
            for a better web responsive web application  -->
          <a href="#" class="nav-link active" data-bs-target="#addProfessionalRoleModalToggle" 
                data-bs-toggle="modal" th:text="#{btnAdd}">
            Add
          </a>

        <!-- Add script for manage add professional role request with js -->
        <script th:src="@{/js/professional-roles/add-professional-role-form.js}"></script> 

    </div>

</body>
</html>