.sdm-table-scrollable {
    max-height: 88vh; 
    overflow-y: auto;
    /* 
    max-width: 80vw;
    overflow-x: auto; 
    */
}

.sdm-table-scrollable th{
    min-width: 10rem;
}

.sdm-table-header-bg {
    background-color: #c4e3ed !important; 
}

.sdm-work-area-scollable {
    max-height: 88vh;
    overflow: auto; 
    /* overflow-y: auto;
    overflow-x: auto; */
}