<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div th:fragment="decrease-dental-material-quantity-modal( dentalMaterial )">
        <div class="modal fade" th:id="'decreaseDentalMaterialModalToggle' + ${dentalMaterial.id}" 
                th:aria-labelledby="'decreaseDentalMaterialModalToggleLabel' + ${dentalMaterial.id}" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" 
                      th:id="'decreaseDentalMaterialModalToggleLabel' + ${dentalMaterial.id}"
                      th:text="#{titleDecreaseDentalMaterialsQuantity}">
                      Decreases dental materials
                  </h1>
                  <button th:id="'btnXCloseModal' + ${dentalMaterial.id}" type="button" 
                          class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body">

                  <div th:replace="~{fragments/messages/error-msg :: error-msg(${dentalMaterial.id},'')}"></div>

                  <!-- get data for create the DecreaseDentalMaterial -->
                  <form th:id="'decreaseDentalMaterialForm' + ${dentalMaterial.id}" method="PUT" th:action="@{/decreaseDentalMaterialQuantity}" > 

                    <input type="hidden" name="id" th:value="${dentalMaterial.id}">

                    <div class="row g-3">

                      <div class="col-12  d-flex align-items-center mt-3">  
                        
                        <label th:for="'quantity' + ${dentalMaterial?.id}" class="form-label col-md-auto me-2" 
                                th:text="#{formLabelQuantityToDecreaseMandatory}">
                        Quantity to decrease*:
                        </label> 
              
                        <input type="number" class="form-control w-100" name="quantity"
                                th:id="'quantity' + ${dentalMaterial?.id}"  >
                      </div>  
                      
                    </div>
              

                  </form>

                </div>

                <div class="modal-footer">

                  <!-- TO EDIT:  add button add  Medical History -->  
                  <!-- <button th:id="'btnAddProfessionalRoleSlot' + ${dentalMaterial.id}" 
                          class="btn btn-primary" th:text="#{btnAddProfessionalRoleSlot}">
                    Add Professional Role
                  </button> -->

                  <!-- Button edit DentalMaterial -->  
                  <button th:id="'btnDecreaseDentalMaterial' + ${dentalMaterial.id}" 
                          type="submit" 
                          th:form="'decreaseDentalMaterialForm' + ${dentalMaterial.id}" 
                          class="btn btn-primary me-2 mt-1" 
                          th:text="#{btnDecreaseDentalMaterials}">
                    Decrease
                  </a>
                
                </div>
              </div>
            </div>
        </div>
        
        <!-- Button for open the Modal -->
        <button class="btn btn-danger mt-1" 
                th:data-bs-target="'#decreaseDentalMaterialModalToggle'+ ${dentalMaterial.id}" 
                data-bs-toggle="modal"
                th:text="#{btnRemoveQuantity}"> - </button>

        <!-- Add script for manage put request with js -->
        <!-- This is in requires-dental-materials.html -->
        <!-- <script th:src="@{/js/dental-materials/put-dental-material-form.js}"></script>    -->

    </div>

</body>
</html>