<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/common-head :: common-head('Customer')}"></th:block>
</head>
<body>
    
    <div th:replace="~{fragments/common-top-page :: common-top-page}"></div>
   
    <!-- Sidebar and nav for mobile screens -->
    <div th:replace="~{fragments/menu-dashboard-employee :: side-dashboard-mobile}"></div>

	<div class="d-flex">

        <!-- Sidebar for medium and larger screens -->
        <div th:insert="~{fragments/menu-dashboard-employee :: side-dashboard}" class="col-md-3 col-lg-2" ></div>

    
        <!-- Main Content -->
        <main class="content col-md-9 ms-sm-auto col-lg-10 col-12 px-md-4">
            
            <!-- Customer nav -->
            <nav th:replace="~{fragments/customers/customers-nav :: customers-nav}"></nav>

            <!-- here the page content -->
            <div class="row">

                <!-- List of customers -->
                <div class="sdm-table-scrollable sdm-table-dim table-responsive mt-3 col-md-12">
                    <table class="table table-striped table-bordered text-center">
                        <thead>
                            <tr>
                                <th></th>
                                <th th:text="#{tableHeaderSurname}" >Surname</th>
                                <th th:text="#{tableHeaderName}" >Name</th>
                                <th th:text="#{tableHeaderTaxIdCode}" >Tax id code</th>
                                <th th:text="#{tableHeaderBirthDate}" >Birth date</th>
                                <th th:text="#{tableHeaderBirthplace}" >Birthplace</th>
                                <th th:text="#{tableHeaderPlaceOfResidence}" >Place of residence</th>
                                <th th:text="#{tableHeaderPhoneNumber1}" >Phone number 1</th>
                                <th th:text="#{tableHeaderPhoneNumber2}" >Phone number 2</th>
                                <th th:text="#{tableHeaderEMail}" >E-mail</th>
                                <th th:text="#{tableHeaderPermissions}" >Permissions</th>
                            </tr>
                        </thead>

                            <tr th:each="customer : ${customers}">
                                <td class="text-center align-middle">
                                    <button class="btn btn-danger"
                                            th:id="'btnDeleteCustomer' + ${customer.id}"
                                            th:text="#{btnDelete}">
                                            Delete
                                    </button>

                                    <div class="d-inline-block"
                                         th:insert="~{fragments/customers/put-customer-modal :: put-customer-modal( ${ customer } )}">
                                    </div>

                                    <a class="btn btn-primary mt-2"
                                        th:href="@{'/employee/customer/customer/details/' + ${customer.id} }"
                                        th:text="#{btnDetails}" 
                                        >
                                        Details
                                    </a>

                                </td>

                                <td>
                                    <span th:text="${customer.surname }" ></span>
                                </td>
                                
                                <td>
                                    <span th:text="${customer.name }" ></span>
                                </td>

                                <td>
                                    <span th:text="${customer.taxIdCode}" ></span>
                                </td>

                                <td>
                                    <span   th:with="formatDate=#{formPlaceholderDate}"
                                            th:text="${ #temporals.format( customer.birthDate, formatDate ) }" ></span>
                                </td>

                                <td>
                                    <span th:text="${customer.birthCity } + ' ('+${customer.birthCityProvince}+')'" ></span>
                                </td>

                                <td>
                                    <span th:text="${customer.residenceStreet } + ' '
                                                    + ${customer.houseNumber} + ' '
                                                    + ${customer.residenceCity} + ' '
                                                    + '(' + ${customer.residenceProvince} + ') '
                                                    + ${customer.residenceCityCap}"  >
                                    </span>
                                </td>

                                <td>
                                    <span th:text="${customer.phoneNumber }" ></span>
                                </td>

                                <td>
                                    <span th:text="${customer.phoneNumber2 }" ></span>
                                </td>

                                <td>
                                    <span th:text="${customer.eMail }" ></span>
                                </td>

                                <td>
                                    <span th:text="#{${customer.permission }}" ></span>
                                </td>

                            </tr>

                        <tbody>

                        </tbody>

                    </table>

                </div>

            </div>
        </main>
    </div> <!-- end d-flex -->


    <!-- for put, add, delete, details buttons -->
    <div th:replace="~{fragments/customers/requires-customers :: requires-customers}"></div>

    <div th:replace="~{fragments/common-bottom-page :: common-bottom-page}"></div>           

</body>
</html>