<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div th:fragment="put-appointment-modal(joinAppointment)">
        <div class="modal fade" th:id="'putAppointmentModalToggle' + ${joinAppointment.appointmentDTO.id}" 
                th:aria-labelledby="'putAppointmentModalToggleLabel' + ${joinAppointment.appointmentDTO.id}" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" 
                      th:id="'putAppointmentModalToggleLabel' + ${joinAppointment.appointmentDTO.id}"
                      th:text="#{titleEditAppointment}">
                      Edit Appointment
                  </h1>
                  <button th:id="'btnXCloseModal' + ${joinAppointment.appointmentDTO.id}" type="button" 
                          class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body">

                  <div th:replace="~{fragments/messages/error-msg :: error-msg(${joinAppointment.appointmentDTO.id},'')}"></div>

                  <!-- get data for create the appointment -->
                  <form th:id="'putAppointmentForm' + ${joinAppointment.appointmentDTO.id}" method="PUT" th:action="@{/putAppointment}" > 
                    <div class="row g-3"> 

                      <!-- For sent the idAppointment in the put request -->
                      <input type="hidden" name="id" th:value="${joinAppointment.appointmentDTO.id}">

                      <div class="col-12 col-md-4 d-flex align-items-center"> 
                        <label for="date" class="form-label me-2" th:text="#{formLabelDateMandatory}">
                          Date*:
                        </label> 
                        <input type="text" class="form-control w-100" id="date" name="date" 
                                th:placeholder="#{formPlaceholderDate}"
                                th:value="${ #temporals.format(joinAppointment.appointmentDTO.date, 'dd/MM/yyyy') }"> 
                      </div> 
                      
                      <div class="col-12 col-md-4 d-flex align-items-center"> 
                        <label for="time" class="form-label me-2" th:text="#{formLabelTimeMandatory}">
                          Time*:
                        </label> 
                        <input type="text" class="form-control w-100" id="time" name="time" 
                                th:placeholder="#{formPlaceholderTime}"
                                th:value="${ joinAppointment.appointmentDTO.time }"> 
                      </div> 

                      <div class="col-12 col-md-4 d-flex align-items-center"> 
                        <select class="form-select " name="idCustomer" id="idCustomer" >
                          <!-- -1 for not change, -2 for set as null -->
                          <option value="-2" th:text="#{formOptionSelectCustomerMandatory}">
                            Select the customer*
                          </option>
                          <option th:each="customer : ${customers}" 
                                  th:value="${customer.id}"
                                  th:text="${customer.name} + ' ' + ${customer.surname}"
                                  th:selected="${customer.id} == ${joinAppointment.customerDTO.id}">
                          </option>
                        </select>
                      </div>

                    </div> 

                    <div class="row g-3 mt-3">
                      
                      <div class="col-12 col-md-6 d-flex align-items-center"> 
                        <select class="form-select mt-1" name="idDoctor" id="idEmployee" >
                          <!-- -1 for not change, -2 for set as null -->
                          <option selected value="-2" th:text="#{formOptionSelectDoctor}">
                            Select the doctor
                          </option>
                          <option th:each="doctor : ${doctors}" 
                                  th:value="${doctor.id}"
                                  th:text="${doctor.name} + ' ' + ${doctor.surname}"
                                  th:selected="${doctor.id} == ${joinAppointment.doctorDTO.id}">
                        </select>
                      </div>

                      <div class="col-12 col-md-6 d-flex align-items-center"> 
                        <select class="form-select mt-1" name="idTreatment" id="idTreatment" >
                          <!-- -1 for not change, -2 for set as null -->
                          <option selected value="-2" th:text="#{formOptionSelectTreatment}">
                            Select the treatment
                          </option>
                          <option th:each="treatment : ${treatments}" 
                                  th:value="${treatment.id}"
                                  th:text="${treatment.name}"
                                  th:selected="${treatment.id} == ${joinAppointment.treatmentDTO.id}">
                        </select>
                      </div>

                    </div>

                    <div class="row g-3 mt-3">
                      <label class="form-label mb-1" for="notes" th:text="#{formLabelNotes}">
                        Notes: 
                      </label>
                      <input class="form-control" name="notes" id="notes" type="textarea"
                              th:value="${joinAppointment.appointmentDTO.notes}">
                    </div>



                  </form>

                </div>
                <div class="modal-footer">
                  <!-- Button edit appointment -->  
                  <button th:id="'btnPutAppointment' + ${joinAppointment.appointmentDTO.id}" 
                          type="submit" 
                          form="put-appointment-form" 
                          class="btn btn-primary" 
                          th:text="#{btnEdit}">
                    Edit Appointment
                  </a>
                
                </div>
              </div>
            </div>
        </div>
        
        <!-- Button for open the Modal -->
        <button class="btn btn-primary" 
                th:data-bs-target="'#putAppointmentModalToggle'+ ${joinAppointment.appointmentDTO.id}" 
                data-bs-toggle="modal"
                th:text="#{btnEdit}">Edit</button>

        <!-- Add script for manage add appointment request with js -->
         <!-- This is in requires-put-appointment-modal.html -->
        <!-- <script th:src="@{/js/appointment/put-appointment-form.js}"></script>  -->

    </div>

</body>
</html>